.benefits{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2{
        margin-bottom: 8px;
        @include font(22px, 700, $white, $inter)
    }
    
    .up-comp{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 20px;

        span.set{
            color: $white;
        }

        @include font(13px, 500, $light-gray, $montserrat)
    }

    .benefits-info {
        background-color: $trans-gray;
        position: relative;
        padding: 24px 14px 14px 19px;
        display: flex;
        width: 100%;
        gap: 8px;
        
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;

            li{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                height: 70px;

                &:first-child{
                    margin-top: 20px;
                }
            }
            @include font(13px, 500, $light-gray, $montserrat)
        }

        .game, .chance, .all-time-profit{
            flex-basis: 25%;
            li{
                @include font(12px, 700, $white, $montserrat)
            }
        }

        .chance{
            flex-basis: 19%;
            display: flex;
            align-items: center;
        }

        .noted{
            flex-basis: 40%;
            li{
                @include font(11px, 300, $white, $montserrat)
            }
        }

        .game{
            li{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 3px;
                .ball{
                    position: relative;
                    top: 3px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: red;
                }

                .gray{
                    background-color: $b-gray;
                }

                .green{
                    background-color: $b-green;
                }
                .orange{
                    background-color: $orange;
                }
                .dark-blue{
                    background-color: $b-dark-blue;
                }
                .light-blue{
                    background-color: $b-light-blue;
                }
                .pink{
                    background-color: $b-pink;
                }
            }
        }
    }
}
      


