.benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2{
        @include font(22px, 700, $white, $inter)
    }

    .up-comp{
        display: flex;
        align-items: center;
        gap: 20px;
        @include font(13px, 500, $light-gray, $montserrat)
    }

    .benefits-info {
        padding: 24.811px 14px 14.026px 19.183px;
        display: flex;
        // grid-template-columns: repeat(4, 1fr);
        background-color: $trans-gray;
        width: 93%;
        gap: 5px;
        
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;

            li{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                height: 60px;

                &:first-child{
                    margin-top: 20px;
                }
            }
            @include font(10px, 500, $light-gray, $montserrat)
        }

        .game, .chance, .all-time-profit{
            flex-basis: 25%;
            li{
                @include font(10px, 700, $white, $montserrat)
            }
        }

        .chance{
            flex-basis: 19%;
        }

        .noted{
            flex-basis: 40%;
            li{
                @include font(9px, 300, $white, $montserrat)
            }
        }

        .game{
            li{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 3px;
                .ball{
                    position: relative;
                    top: 5px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: red;
                }

                .gray{
                    background-color: $b-gray;
                }

                .green{
                    background-color: $b-green;
                }
                .orange{
                    background-color: $orange;
                }
                .dark-blue{
                    background-color: $b-dark-blue;
                }
                .light-blue{
                    background-color: $b-light-blue;
                }
                .pink{
                    background-color: $b-pink;
                }
            }
        }
    }
}
      


