.benefits{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
    
    h2{
        margin-bottom: 8px;
        @include font(22px, 700, $white, $inter);

        @media screen and (min-width: 645px){
            font-size: 25px;
        }
        @media screen and (min-width: 1024px){
            font-size: 42px;
    }
    }
    
    .up-comp{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 20px;
        @include font(13px, 500, $light-gray, $montserrat);

        span.set{
            color: $white;
        }
        @media screen and (min-width: 645px){
            font-size: 15px;
        }
    }

    .benefits-info {
        background-color: $trans-gray;
        position: relative;
        padding: 24px 14px 14px 19px;
        display: flex;
        width: 100%;
        gap: 8px;
        
        @media screen and (min-width: 1024px) {
            width: 93%;
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
            padding-top: 40px;
            padding-left: 120px;
        }
        
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            @include font(12px, 700, $white, $montserrat);
            
            li{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                height: 70px;
                @include font(13px, 500, $light-gray, $montserrat);

                &:first-child{
                    margin-top: 20px;
                }
            }

            @media screen and (min-width: 645px){
                font-size: 15px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 16px;
            }

        }

        .game, .chance, .all-time-profit{
            flex-basis: 25%;
            li{
                @include font(12px, 700, $white, $montserrat);
                @media screen and (min-width: 645px){
                    font-size: 14px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 16px;
                }
            }
        }

        .chance{
            flex-basis: 19%;
            display: flex;
            align-items: center;
        }

        .noted{
            flex-basis: 40%;
            li{
                @include font(11px, 300, $white, $montserrat);
                @media screen and (min-width: 645px){
                    font-size: 13px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 15px;
                }
            }
        }

        .game{
            li{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 3px;
                .ball{
                    position: relative;
                    top: 3px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    @media screen and (min-width: 645px){
                        width: 9px;
                        height: 9px;
                        top: 4px;
                    }
                }

                .gray{
                    background-color: $b-gray;
                }

                .green{
                    background-color: $b-green;
                }
                .orange{
                    background-color: $orange;
                }
                .dark-blue{
                    background-color: $b-dark-blue;
                }
                .light-blue{
                    background-color: $b-light-blue;
                }
                .pink{
                    background-color: $b-pink;
                }
                @media screen and (min-width: 645px){
                    gap: 5px;
                }

            }
        }
    }
}
      


