.gamefi{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    padding: 20px;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media screen and (min-width: 1024px){
        height: 1000px;
        background-position: -800px -800px;
        background-size: 3400px 3400px;
    }
    
    h1{
        text-align: center;
        line-height: normal;
        text-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.05);
        @include font(29px, 700, $white, $inter);

        @media screen and (min-width: 645px){
            width: 80%;
            font-size: 50px;
        }

        @media screen and (min-width: 1024px){
            width: 70%;
            font-size: 70px;
        }
        
    }

    .g-image{
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1024px){
            order: 3;
            margin-top: 10px;
        }
        
        .statue{
            z-index: 10;
            animation: floating 3.1s infinite ease-in-out;
            @media screen and (min-width: 1024px){
                width: 280px;
            }
        }

        .pedestal{
            position: relative;
            bottom: 195px;
            z-index: 9;
            @media screen and (min-width: 645px){
                width: 290px;
                bottom: 210px;
            }
            @media screen and (min-width: 1024px){
                width: 450px;
                bottom: 330px;
            }
        }
        
        .earn-learn{
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 2px;
            border: 2.5px solid $orange;
            border-radius: 50px;
            position: absolute;
            left: calc(50% - 179px);
            top: 200px;

            @media screen and (min-width: 645px){
                top: 280px;
            }
            @media screen and (min-width: 1024px){
                top: 480px;
                left: calc(50% - 285px);
            }
            
            .yellow-circle{
                width: 53px;
                @media screen and (min-width: 1024px){
                    width: 70px;
                    margin-bottom: 10px;
                }
            }

            .gamers-amount{
                @include font(19px, 600, $orange, $inter);
                margin-top: 10px;
            }

            .gamers{
                @include font(10px, 400, $orange, $inter);
                margin-bottom: 15px;
            }
        }

        .yellow-line{
            width: 150px;
            position: absolute;
            z-index: 10;
            left: calc(50% - 150px);
            top: 281px;
            @media screen and (min-width: 645px){
                top: 360px;
            }
            @media screen and (min-width: 1024px){
                width: 250px;
                top: 560px;
                left: calc(50% - 250px);
            }
        }

        .ld{
            width: 140px;
            position: absolute;
            z-index: 9;
            left: 1px;
            top: 315px;
            @media screen and (min-width: 645px){
                top: 400px;
                width: 250px;
            }
            @media screen and (min-width: 1024px){
                opacity: 0.5;
                width: 320px;
                left: inherit;
                right: 0;
                top: 600px;
            }
        }
        

        .gui{
            position: absolute;
            right: 0;
            top: 430px;
            z-index: 8;
            @media screen and (min-width: 645px){
                top: 280px;
                width: 270px;
            }
            @media screen and (min-width: 1024px){
                right: inherit;
                left: 0;
                width: 400px;
                opacity: 0.5;
                top: 400px;
                z-index: 1;
                
            }
        }

    }
    .gamefi-buttons{
        margin-top: -150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        z-index: 3;

        @media screen and (min-width: 645px){
            flex-direction: row;
            margin-top: -190px;
        }
        @media screen and (min-width: 1024px){
            order: 2;
            margin-top: 50px;
            width: 60%;
            gap: 50px;
        }

        .join-now-button{
            background-color: $orange;
            border: none;
            outline: none;
            width: 100%;
            padding: 11px 0;
            border-radius: 30px;
            box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
            @include font(19px, 600, black, $montserrat);

            @media screen and (min-width: 645px){
                width: 35%;
            }
            @media screen and (min-width: 1024px){
                width: 30%;
            }

            &:hover{
                background-color: lighten($color: $orange, $amount: 10);
            }
            &:active{
                transform: scale(0.994);
            }
        }

        .how-it-works-button{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            background-color: transparent;
            border: none;
            outline: none;
            @include font(19px, 600, $orange, $montserrat);

            @media screen and (min-width: 645px){
                width: 35%;
            }
            @media screen and (min-width: 1024px){
                width: 30%;
            }

            &:hover{
                color: lighten($color: $orange, $amount: 10);
            }
            &:active{
                transform: scale(0.994);
            }
        }
    }
}

@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0);
    }
}