.games{
    max-width: 2500px;
    position: absolute;
    top: 730px;
    left: -10px;
    width: 110%;
    background-color: $dark-orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    transform: rotate(2deg);
    z-index: 10;

    @media screen and (min-width: 645px){
        top: 750px;
    }

    @media screen and (min-width: 1024px){
        left: 50%;
        transform: translateX(-50%) rotate(1deg);
        top: 950px;

    }
    .games-container{
        position: relative;
        top: 12px;
        left: -10px;
        background-color: $orange;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
        padding: 45px 0;
        transform: rotate(-4deg);
        @media screen and (min-width: 1024px){
            transform: rotate(-2deg);
            left: 0;
            gap: 120px;
            padding: 35px 0;
        }

        .game-logo{
            height: 29px;
            @media screen and (min-width: 1024px){
                height: 53px;
            }
        }
    }

}