.units{
    margin-top: 70px;
    padding-top: 60px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 645px){
        padding-top: 80px;
    }
    
    @media screen and (min-width: 1024px){
        padding-top: 120px;
    }

    h2{
        margin-bottom: 50px;
        @include font(30px, 700, $white, $inter);

        @media screen and (min-width: 1024px){
            	font-size: 45px;
        }
    }

    .cards-container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .card{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: max-content;
            padding: 30px 20px ;
            background-color: $trans-gray;
            gap: 10px;

            .card-image{
                width: 130px;
                @media screen and (min-width: 1024px){
                    width: 150px;
                }
            }

            .player{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                @include font(10px, 500, $white, $montserrat);

                @media screen and (min-width: 1024px){
                    font-size: 12px;
                }

                .player-photo{
                    width: 20px;
                    border-radius: 50%;
                    @media screen and (min-width: 1024px){
                        width: 25px;
                    }
                }
            }

            .card-name{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include font(13px, 700, $white, $inter);
                
                @media screen and (min-width: 1024px){
                    font-size: 15px;
                }

                .arrow-icon{
                    display: none;
                    width: 35px;
                    transform: rotate(90deg);
                    @media screen and (min-width: 1024px){
                        width: 40px;
                    }
                }
            }

            &:nth-child(1), &:nth-child(5){
                display: none;
                @media screen and (min-width: 1024px){
                    display: flex;
                }
            }   
        }

        .card.selected{
            border: 3px solid $orange;
            animation: cardFade .2s ease-in-out;
            .card-image{
                width: 180px;
                @media screen and (min-width: 1024px){
                    width: 200px;
                }
            }
            .arrow-icon{
                display: block;
            }
        }
    }

    .see-all-button{
        margin-top: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all .2s;
        @include font(23px, 500, $white,$montserrat);

        @media screen and (min-width: 1024px) {
            font-size: 27px;
        }

        &:hover{
            gap: 20px;
            text-shadow: 0 0 10px 10px black;
        }
    }

    .arrow{
        width: 30px;
        filter: invert(100%);
    }
}

@keyframes cardFade {
    0%{
        transform: scale(0.9);
    }
}