@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
header {
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 14;
}
header .menu-icon {
  z-index: 16;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  header .menu-icon {
    display: none;
  }
}
header .menu-icon .line {
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}
header .menu-icon .line-1.menu-close {
  animation: closeLine1 0.25s forwards ease-in;
}
header .menu-icon .line-2.menu-close {
  animation: closeLine2 0.25s forwards ease-in;
}
header .logo {
  width: 190px;
  position: relative;
  top: 3px;
  z-index: 0;
  transition: filter 0.4s linear;
}
header .wallet-icon {
  width: 21px;
  cursor: pointer;
}
header .connect-wallet-button {
  background-color: transparent;
  outline: none;
  display: inline-flex;
  padding: 8px 25px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  border: 2px solid #FF9C00;
  animation: invisible 0.26s;
  font-size: 15px;
  font-weight: 500;
  color: #FF9C00;
  font-family: "Montserrat", sans-serif;
}
header .connect-wallet-button:hover {
  background-color: #FF9C00;
  color: #7700A1;
}

.menu-container {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  display: none;
  justify-content: center;
  align-items: flex-start;
  animation: showMenu 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media screen and (min-width: 1024px) {
  .menu-container {
    display: flex;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    height: -moz-max-content;
    height: max-content;
    padding-top: 0;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.menu-container .menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #1D1D1D;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 1024px) {
  .menu-container .menu-list {
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
  }
}
.menu-container .menu-list .menu-opt:hover {
  cursor: pointer;
  color: #7d7d7d;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.menu-container .menu-icon {
  position: absolute;
  top: 53px;
  left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .menu-container .menu-icon {
    display: none;
  }
}
.menu-container .menu-icon .line {
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}
.menu-container .menu-icon .line-1.menu-close {
  animation: closeLine1 0.25s forwards ease-in;
}
.menu-container .menu-icon .line-2.menu-close {
  animation: closeLine2 0.25s forwards ease-in;
}

@keyframes closeLine1 {
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(7px);
    rotate: -45deg;
    background-color: black;
  }
}
@keyframes closeLine2 {
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-8px);
    background-color: black;
    rotate: 45deg;
  }
}
@keyframes openLine1 {
  0% {
    transform: translateY(7px);
    rotate: -45deg;
  }
  50% {
    transform: translateY(5px);
  }
}
@keyframes openLine2 {
  0% {
    transform: translateY(-8px);
    rotate: 45deg;
  }
  50% {
    transform: translateY(-6px);
  }
}
@keyframes showMenu {
  0% {
    transform: translateX(-100%);
  }
}
@keyframes invisible {
  0%, 90% {
    opacity: 0;
  }
}
.gamefi {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 800px;
  padding: 20px;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .gamefi {
    height: 1000px;
    background-position: -800px -800px;
    background-size: 3400px 3400px;
  }
}
.gamefi h1 {
  text-align: center;
  line-height: normal;
  text-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.05);
  font-size: 29px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
@media screen and (min-width: 645px) {
  .gamefi h1 {
    width: 80%;
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi h1 {
    width: 70%;
    font-size: 70px;
  }
}
.gamefi .g-image {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image {
    order: 3;
    margin-top: 10px;
  }
}
.gamefi .g-image .statue {
  z-index: 10;
  animation: floating 3.1s infinite ease-in-out;
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image .statue {
    width: 280px;
  }
}
.gamefi .g-image .pedestal {
  position: relative;
  bottom: 195px;
  z-index: 9;
}
@media screen and (min-width: 645px) {
  .gamefi .g-image .pedestal {
    width: 290px;
    bottom: 210px;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image .pedestal {
    width: 450px;
    bottom: 330px;
  }
}
.gamefi .g-image .earn-learn {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  border: 2.5px solid #FF9C00;
  border-radius: 50px;
  position: absolute;
  left: calc(50% - 179px);
  top: 200px;
}
@media screen and (min-width: 645px) {
  .gamefi .g-image .earn-learn {
    top: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image .earn-learn {
    top: 480px;
    left: calc(50% - 285px);
  }
}
.gamefi .g-image .earn-learn .yellow-circle {
  width: 53px;
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image .earn-learn .yellow-circle {
    width: 70px;
    margin-bottom: 10px;
  }
}
.gamefi .g-image .earn-learn .gamers-amount {
  font-size: 19px;
  font-weight: 600;
  color: #FF9C00;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
}
.gamefi .g-image .earn-learn .gamers {
  font-size: 10px;
  font-weight: 400;
  color: #FF9C00;
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
}
.gamefi .g-image .yellow-line {
  width: 150px;
  position: absolute;
  z-index: 10;
  left: calc(50% - 150px);
  top: 281px;
}
@media screen and (min-width: 645px) {
  .gamefi .g-image .yellow-line {
    top: 360px;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image .yellow-line {
    width: 250px;
    top: 560px;
    left: calc(50% - 250px);
  }
}
.gamefi .g-image .ld {
  width: 140px;
  position: absolute;
  z-index: 9;
  left: 1px;
  top: 315px;
}
@media screen and (min-width: 645px) {
  .gamefi .g-image .ld {
    top: 400px;
    width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image .ld {
    opacity: 0.5;
    width: 320px;
    left: inherit;
    right: 0;
    top: 600px;
  }
}
.gamefi .g-image .gui {
  position: absolute;
  right: 0;
  top: 430px;
  z-index: 8;
}
@media screen and (min-width: 645px) {
  .gamefi .g-image .gui {
    top: 280px;
    width: 270px;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .g-image .gui {
    right: inherit;
    left: 0;
    width: 400px;
    opacity: 0.5;
    top: 400px;
    z-index: 1;
  }
}
.gamefi .gamefi-buttons {
  margin-top: -150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 3;
}
@media screen and (min-width: 645px) {
  .gamefi .gamefi-buttons {
    flex-direction: row;
    margin-top: -190px;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .gamefi-buttons {
    order: 2;
    margin-top: 50px;
    width: 60%;
    gap: 50px;
  }
}
.gamefi .gamefi-buttons .join-now-button {
  background-color: #FF9C00;
  border: none;
  outline: none;
  width: 100%;
  padding: 11px 0;
  border-radius: 30px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
  font-size: 19px;
  font-weight: 600;
  color: black;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 645px) {
  .gamefi .gamefi-buttons .join-now-button {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .gamefi-buttons .join-now-button {
    width: 30%;
  }
}
.gamefi .gamefi-buttons .join-now-button:hover {
  background-color: #ffb033;
}
.gamefi .gamefi-buttons .join-now-button:active {
  transform: scale(0.994);
}
.gamefi .gamefi-buttons .how-it-works-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  font-weight: 600;
  color: #FF9C00;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 645px) {
  .gamefi .gamefi-buttons .how-it-works-button {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .gamefi .gamefi-buttons .how-it-works-button {
    width: 30%;
  }
}
.gamefi .gamefi-buttons .how-it-works-button:hover {
  color: #ffb033;
}
.gamefi .gamefi-buttons .how-it-works-button:active {
  transform: scale(0.994);
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.games {
  max-width: 2500px;
  position: absolute;
  top: 730px;
  left: -10px;
  width: 110%;
  background-color: #CB7C00;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
  transform: rotate(2deg);
  z-index: 10;
}
@media screen and (min-width: 645px) {
  .games {
    top: 750px;
  }
}
@media screen and (min-width: 1024px) {
  .games {
    left: 50%;
    transform: translateX(-50%) rotate(1deg);
    top: 950px;
  }
}
.games .games-container {
  position: relative;
  top: 12px;
  left: -10px;
  background-color: #FF9C00;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 45px 0;
  transform: rotate(-4deg);
}
@media screen and (min-width: 1024px) {
  .games .games-container {
    transform: rotate(-2deg);
    left: 0;
    gap: 120px;
    padding: 35px 0;
  }
}
.games .games-container .game-logo {
  height: 29px;
}
@media screen and (min-width: 1024px) {
  .games .games-container .game-logo {
    height: 53px;
  }
}

.units {
  margin-top: 70px;
  padding-top: 60px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 645px) {
  .units {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .units {
    padding-top: 120px;
  }
}
.units h2 {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
@media screen and (min-width: 1024px) {
  .units h2 {
    font-size: 45px;
  }
}
.units .cards-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.units .cards-container .card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: -moz-max-content;
  width: max-content;
  padding: 30px 20px;
  background-color: rgba(50, 50, 50, 0.87);
  gap: 10px;
}
.units .cards-container .card .card-image {
  width: 130px;
}
@media screen and (min-width: 1024px) {
  .units .cards-container .card .card-image {
    width: 150px;
  }
}
.units .cards-container .card .player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 1024px) {
  .units .cards-container .card .player {
    font-size: 12px;
  }
}
.units .cards-container .card .player .player-photo {
  width: 20px;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .units .cards-container .card .player .player-photo {
    width: 25px;
  }
}
.units .cards-container .card .card-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
@media screen and (min-width: 1024px) {
  .units .cards-container .card .card-name {
    font-size: 15px;
  }
}
.units .cards-container .card .card-name .arrow-icon {
  display: none;
  width: 35px;
  transform: rotate(90deg);
}
@media screen and (min-width: 1024px) {
  .units .cards-container .card .card-name .arrow-icon {
    width: 40px;
  }
}
.units .cards-container .card:nth-child(1), .units .cards-container .card:nth-child(5) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .units .cards-container .card:nth-child(1), .units .cards-container .card:nth-child(5) {
    display: flex;
  }
}
.units .cards-container .card.selected {
  border: 3px solid #FF9C00;
  animation: cardFade 0.2s ease-in-out;
}
.units .cards-container .card.selected .card-image {
  width: 180px;
}
@media screen and (min-width: 1024px) {
  .units .cards-container .card.selected .card-image {
    width: 200px;
  }
}
.units .cards-container .card.selected .arrow-icon {
  display: block;
}
.units .see-all-button {
  margin-top: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.2s;
  font-size: 23px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 1024px) {
  .units .see-all-button {
    font-size: 27px;
  }
}
.units .see-all-button:hover {
  gap: 20px;
  text-shadow: 0 0 10px 10px black;
}
.units .arrow {
  width: 30px;
  filter: invert(100%);
}

@keyframes cardFade {
  0% {
    transform: scale(0.9);
  }
}
.benefits {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.benefits h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
@media screen and (min-width: 645px) {
  .benefits h2 {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .benefits h2 {
    font-size: 42px;
  }
}
.benefits .up-comp {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #c9c9c9;
  font-family: "Montserrat", sans-serif;
}
.benefits .up-comp span.set {
  color: #ffffff;
}
@media screen and (min-width: 645px) {
  .benefits .up-comp {
    font-size: 15px;
  }
}
.benefits .benefits-info {
  background-color: rgba(50, 50, 50, 0.87);
  position: relative;
  padding: 24px 14px 14px 19px;
  display: flex;
  width: 100%;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .benefits .benefits-info {
    width: 93%;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    padding-left: 120px;
  }
}
.benefits .benefits-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.benefits .benefits-info ul li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 70px;
  font-size: 13px;
  font-weight: 500;
  color: #c9c9c9;
  font-family: "Montserrat", sans-serif;
}
.benefits .benefits-info ul li:first-child {
  margin-top: 20px;
}
@media screen and (min-width: 645px) {
  .benefits .benefits-info ul {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .benefits .benefits-info ul {
    font-size: 16px;
  }
}
.benefits .benefits-info .game, .benefits .benefits-info .chance, .benefits .benefits-info .all-time-profit {
  flex-basis: 25%;
}
.benefits .benefits-info .game li, .benefits .benefits-info .chance li, .benefits .benefits-info .all-time-profit li {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 645px) {
  .benefits .benefits-info .game li, .benefits .benefits-info .chance li, .benefits .benefits-info .all-time-profit li {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .benefits .benefits-info .game li, .benefits .benefits-info .chance li, .benefits .benefits-info .all-time-profit li {
    font-size: 16px;
  }
}
.benefits .benefits-info .chance {
  flex-basis: 19%;
  display: flex;
  align-items: center;
}
.benefits .benefits-info .noted {
  flex-basis: 40%;
}
.benefits .benefits-info .noted li {
  font-size: 11px;
  font-weight: 300;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 645px) {
  .benefits .benefits-info .noted li {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  .benefits .benefits-info .noted li {
    font-size: 15px;
  }
}
.benefits .benefits-info .game li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
}
.benefits .benefits-info .game li .ball {
  position: relative;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
@media screen and (min-width: 645px) {
  .benefits .benefits-info .game li .ball {
    width: 9px;
    height: 9px;
    top: 4px;
  }
}
.benefits .benefits-info .game li .gray {
  background-color: #F4F4F4;
}
.benefits .benefits-info .game li .green {
  background-color: #B6D600;
}
.benefits .benefits-info .game li .orange {
  background-color: #FF9C00;
}
.benefits .benefits-info .game li .dark-blue {
  background-color: #130FCE;
}
.benefits .benefits-info .game li .light-blue {
  background-color: #00B2FF;
}
.benefits .benefits-info .game li .pink {
  background-color: #FF73E9;
}
@media screen and (min-width: 645px) {
  .benefits .benefits-info .game li {
    gap: 5px;
  }
}

footer {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .community {
  width: 93%;
  background-image: url("/images/community-bg.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
}
@media screen and (min-width: 1024px) {
  footer .community {
    padding: 80px 0;
  }
}
footer .community h2 {
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 1024px) {
  footer .community h2 {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
footer .community .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .community .buttons {
    flex-direction: row;
  }
}
footer .community .buttons button {
  width: 75%;
  background-color: #FF9C00;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 11px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  font-weight: 500;
  color: black;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 1024px) {
  footer .community .buttons button {
    width: 25%;
    padding: 14px 0;
  }
}
footer .community .buttons button:hover {
  background-color: #ffac29;
}
footer .community .buttons button:active {
  transform: scale(0.993);
}
footer .meta-rights {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(127, 127, 127, 0.87);
  padding-top: 18px;
  gap: 12px;
  font-size: 14px;
  font-weight: 300;
  color: #c9c9c9;
  font-family: "Montserrat", sans-serif;
}
footer .footer-list {
  margin-top: 18px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 22px 30px;
  border-top: 1px solid rgba(127, 127, 127, 0.87);
  border-bottom: 1px solid rgba(127, 127, 127, 0.87);
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
footer .footer-list li {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  footer .footer-list {
    border: none;
    justify-content: center;
    gap: 30px;
  }
}
footer .social-icons {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 18px 17px 40px 17px;
}
footer .social-icons li {
  cursor: pointer;
}
footer .social-icons li img {
  width: 30px;
}
@media screen and (min-width: 1024px) {
  footer .social-icons {
    border: none;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid rgba(127, 127, 127, 0.87);
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
}
footer .up {
  display: none;
}
@media screen and (min-width: 1024px) {
  footer .up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 50px;
    bottom: 40px;
    width: -moz-max-content;
    width: max-content;
  }
  footer .up img {
    width: 45px;
  }
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  background-color: #1D1D1D;
  height: 100vh;
}

.app {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.mask-bg {
  background-image: url("../../../public//images/mask-bg.svg");
  background-color: #7700A1;
  background-position: -500px -400px;
  position: relative;
}

.looper-bg {
  background-color: #1D1D1D;
  background-image: url("/images/looper-bg.svg");
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (min-width: 489px) {
  .looper-bg {
    background-image: url("/images/looper-bg-desktop.svg");
    background-position: 50% -300px;
  }
}/*# sourceMappingURL=home.css.map */